body {
  color: white;
  text-shadow: 2px 2px 4px black;
  font-weight: bolder;
  overflow: hidden;
}

.contact {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.rowrow {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  height: auto;
}

button {
  padding: 2px;
  margin-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
  .rowrow {
    width: 75%;
    height: 65vh;
  }
}

/* body {
  color: white;
  text-shadow: 2px 2px 4px black;
  font-weight: bolder;
  overflow: hidden;
}

.contact {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.rowrow {
  background-color: rgba(0, 0, 0, 0.8);
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  height: 65vh;
}

button {
  padding: 2px;
  margin-bottom: 3rem;
} */
