body {
  background-image: url("../assets/mountains.jpg");
  width: 100vw;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 7rem;
  padding-bottom: 1rem;
  padding-left: 20px;
  padding-right: 20px;
}

.second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bigpic {
  height: 50%;
  width: 50%;
  padding: 2%;
  justify-content: center;
  align-items: center;
}

.array img:hover {
  transform: scale(1.1);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profilepic {
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  margin-left: 50px;
}

.text-header {
  color: black;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  font-size: medium;
  display: flex;
  text-align: center;
  text-decoration: none;
}

.text {
  color: black;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  font-size: medium;
}

.undertext {
  font-size: smaller;
}

.picpart {
  display: flex;
  flex-direction: column;
}

.textpart {
  display: flex;
  flex-direction: column;
}

.profilepicture {
  height: 30%;
  width: 30%;
}

.aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75%;
  line-height: 300%;
  padding-top: 1rem;
}

.underlink {
  text-decoration: none;
  color: black;
  text-align: center;
}

iframe:hover {
  transform: scale(1.1);
}

.down-arrow {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff; /* Change the color if needed */
  font-size: 24px; /* Adjust the size if needed */
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: arrowBounce; /* Name of the animation */
  animation-duration: 1s; /* Duration of the animation */
  animation-timing-function: ease-in-out; /* Timing function */
  animation-iteration-count: infinite; /* Infinite animation */
}

@keyframes arrowBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust the distance */
  }
  100% {
    transform: translateY(0);
  }
}

.image {
  margin-left: 3rem;
  height: 225px;
  width: 300px;
  object-fit: cover;
}

.headers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.array,
.array1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  width: calc(95% - 4%);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  margin: 2%; 
  box-sizing: border-box; 
}
